body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-color: black;
}

.header {
    text-align: center;
    color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
    gap: 5em;
}

.container button {
    border: solid black;
    font-size: 7em;
    background: none;
}

.container button:hover {
    border: solid white;
}

#playBtn {
    display: block;
    border: solid black;
    font-size: 2em;
    font-weight: bold;
    color: #f5f5f5;
    background: none;
    margin-left: auto;
    margin-right: auto;
}

#playBtn:hover {
    border: solid whitesmoke;
}

#result {
    text-align: center;
    color: black;
}